body {
    text-align: center;
    background-color: rgb(71, 64, 64);
    color: rgb(255, 255, 255)
}

header {
    display: flex;
    justify-content: center
}

.encabezado {
    padding: 5px;
    margin: 5px
}

#button {
    padding: 0
}

#button li {
    display: inline
}

#button li a {
    font-family: Arial;
    font-size: 11px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    background-color: brown;
    color: rgb(12, 194, 200)
}

.contenedor {
    height: 450px;
    overflow: auto
}

table {
    width: 50%;
    padding: 10px;
    border: 1px;
    border-collapse: collapse;
    border-radius: 5px;
    border-color: brown;
    margin: auto
}

/*Estilos para los formularios*/
form {
    width: 225px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    background-color: brown;
}

form label {
    text-align: left;
    padding: 0px 5px;
    font-weight: bold;
    display: inline-block;
    color: rgb(12, 194, 200)
}

form input[type="text"],
form input[type="textarea"],
form select,
form input[type="number"],
form input[type="button"] {
    width: 180px;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: white;
    margin: 6px 0;
    text-decoration: none;
    color: black
}

form input[type="button"]:hover {
    cursor: pointer
}

form img {
    padding: 3px 10px;
    border-radius: 3px;
    margin: 6px 0
}

form select {
    width: 190px;
    color: rgb(0, 0, 0)
}

form input[type="file"] {
    width: 200;
    color: rgb(0, 0, 0)
}

form input[type="textaria"] {
    width: 100%
}